@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

#progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;  /* so progress bar can be positioned absolute */
  margin-bottom: 30px; /* look at elements and see if they're sticking too close */
  max-width: 100%;
  width: 350px;
}

#progress-container::before {
  content: '';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%; /* 50% of the parent container*/
  left: 0;
  transform: translateY(-50%); 
  height: 4px;
  width: 100%; 
  z-index: -1; /* set progress bar behind circles*/
}

#progress {
  background-color: #3498db;
  position: absolute;
  top: 50%; /* 50% of the parent container*/
  left: 0;
  transform: translateY(-50%); 
  height: 4px;
  width: 0%;
  z-index: -1; /* set progress bar behind circles*/
  transition: 0.4s ease;
}

.circle { 
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: .4s ease; /* transition for the border color */
}

.circle.active {
  border-color: #3498db;
}

.btn {
  border-style: none;
  border-radius: 10px;
  padding: 8px 30px;
  color: white;
  background-color: #3498db;
  cursor: pointer;
  font-family: inherit;
  margin: 5px;
  font-size: 14px;   
}

.btn:active {
  transform: scale(0.98);
}

.bth:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}